<div class ="container px-8 py-4" *ngIf="juego">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">Agreagr un juego a la biblioteca</h1>

      <form class="mt-4" (ngSubmit)="onUpdate()" #f="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre de juego</label>
          <input type="text" maxlength="70" class="form-control"
                  id="nombre" name="nombre" [(ngModel)]="juego.nombre" required>
        </div>
        <div class="form-group">
          <label for="plataformaConsola">Nombre de plataforma o Consola</label>
          <input type="text" maxlength="70" class="form-control"
                  id="plataformaConsola" name="plataformaConsola" [(ngModel)]="juego.plataformaConsola" required>
        </div>
        <div class="form-group">
          <label for="empresa">empresa</label>
          <input type="text" maxlength="70" class="form-control"
                  id="empresa" name="empresa" [(ngModel)]="juego.empresa" required>
        </div>
        <div class="form-group">
          <label for="anio">anio</label>
          <input type="number" maxlength="4" class="form-control"
                  id="anio" name="anio" [(ngModel)]="juego.anio" required>
        </div>
        <div class="form-group">
          <label for="mundoAbierto">¿Mundo Abierto?</label>
          <br>
          <input type="radio" name="mundoAbierto" ng-control="mundoAbierto" value="true"
          [(ngModel)]="juego.mundoAbierto" required>Si
          <br>
          <input type="radio" name="mundoAbierto" ng-control="mundoAbierto" value="false"
          [(ngModel)]="juego.mundoAbierto" required>No
          <br>
        <button class="btn btn-primary mb-2">
          Guardar cambios
        </button>
        </div>
      </form>
    </div>

</div>
</div>
